@mixin onDesktop {
  @media (min-width:1279px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width:744px) {
    @content;
  }
}

@mixin onPhone {
  @media (min-width:320px) {
    @content;
  }
}

@mixin glass {
  background: rgba( 255, 255, 255, 0.65 );
  box-shadow: $b-sh-main;
  backdrop-filter: blur( 17px );
  -webkit-backdrop-filter: blur( 17px );
}