$c-dark: #6E7582;
$c-m-dark: #393E46;
$c-light: #EEEEEE;
$f-main: #222831;
$nav-height: 70px;
$pd-standart: 20px;
$b-sh-main: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$border-main: 1px solid $c-m-dark;
$bord-rad-inner: 3px;
$bord-rad-outer: 9px;
$prod-gap: 30px;
$prod-width: 300px;
$prod-height: 500px;
$trns-trsf: transform 0.2s;
$trsf-btn: scale(0.9);