@import '../../styles/variables';
@import '../../styles/mixins';

td {
  font-size: 20px;
}

.img__wrapper {
  height: 120px;
  display: flex;
  justify-content: center;

  & > img {
    height: 120px;
    object-fit: cover;
    object-position: center;
  }
}

.td {
  &__btns {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 3em;
    flex-direction: column;
    padding:1em;
    border: 2px solid $f-main;
  }

  &__btn {    
    &--qty {
      background-color: transparent;
      cursor: pointer;
      border: none;
      color: $f-main;
      font-size: 20px;
    }
  }
}

.btn {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-size: 20px;
  color: $f-main;
  padding: 0;
  text-decoration: none; 
  background-color: transparent;
}