@import '../../styles/variables';
@import '../../styles/mixins';

.sidebar {
  position: fixed;
  height: 100%;
  width: 200px;
  right: 0;
  top: 0;
  
  @include glass;

  padding: $pd-standart;
  transform: translateX(100%);
  transition: transform 0.3s;
  overflow-y: scroll;
  z-index: 999;

  &__total {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  &.active {
    transform: translateX(0);
  }

  &__icons {
    height: $nav-height;
    display: flex;
    justify-content: space-around;

    &--cart {
      color: inherit;
    }

    &--cross {
      cursor: pointer;
    }
  }

  &__items {
    font-size: 15px;
  }

  &__item {
    border-bottom: $border-main;
    border-top: $border-main;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
